body {
    background: #fadede;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-family: 'Sacramento', cursive;
    color: #FE7696;
    font-size: 20px;
    margin-top: 20px;
}

.letter {
    width: 90%;
    max-width: 300px;
    height: auto;
    display: inline-block;
}

.rose {
    width: 90%;
    max-width: 200px;
    height: auto;
    position: relative;
    margin: 20px auto;
}

.petal {
    width: 20px;
    height: 20px;
    background: #fe7696;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 3px #D1123F;
    z-index: 2;
    transform-origin: bottom right;
}

.petal:nth-child(2) {
    transform-origin: right bottom;
    transform: rotate(90deg);
    background: #fe7696;
    left: -10px;
}

.petal:nth-child(3) {
    width: 15px;
    height: 15px;
    background: #f03a64;
    top: -5px;
    left: 3px;
}

.petal:nth-child(4) {
    transform: rotate(90deg);
    width: 15px;
    height: 15px;
    background: #f03a64;
    top: -5px;
    left: 3px;
}

.petal:nth-child(5) {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -7px;
    left: 5px;
    background: #d1123f;
}

.leaf {
    position: absolute;
    top: 30px;
    left: 20px;
}

.stem {
    width: 60px;
    height: 10px;
    background: transparent;
    border: 2px solid #8ac78a;
    border-color: #77a377 transparent transparent transparent;
    border-radius: 50% 50%;
    transform: rotate(100deg);
}

.leafs {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #77a377;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 49;
}

.leafs:nth-child(2) {
    width: 15px;
    height: 15px;
    top: 15px;
    left: 35px;
    transform: rotate(120deg);
}

@keyframes yidon {
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(20%);
    }
}

@keyframes zhankai1 {
    50% {
        transform: rotate(110deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes zhankai2 {
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
